.categories label:hover {
  color: brown;
  cursor: pointer;
}

.categories:hover {
  color: brown;
  cursor: pointer;
}

.categories li {
  color: black;
  list-style: none;
}

.categories input {
  margin-left: 7px;
}
