.detailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;

}

.detailsContainer img {
  height: 28%;
  margin-right: 80px;
  width: 28%;
}

.thumb-espec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;

}

.espec {
  align-items: flex-start;
  background-color: #fcf6ff;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px black;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding: 30px;
  width: 500px;
}

.price {
  background-color: black;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  padding: 5px;
}

.detailsForm {
  align-items: center;
  background-color: #fcf6ff;
  box-shadow: 0 0 20px 2px rgb(235, 202, 202);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
}

.detailsForm textarea {
  width: 400px;
}

.rated {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.detailsForm h4 {
  margin-bottom: 0;
  margin-top: 10px;
}

.detailsForm form {
  display: flex;
  flex-direction: column;

}

.ratedd {
  width: 500px;
  word-wrap: break-word;

}

.detailsForm form h2 {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}
