.categoriesContainer {
  background-color: rgba(179, 178, 178, 0.735);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 0;
  width: 300px;
}

.mainContainer header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.cartPng {
  width: 50px;
}

.blackFridaypng {
  width: 150px;
}
