.categoriesContainer {
  background-color: rgba(179, 178, 178, 0.735);
  display: flex;
  flex-direction: column;
  height: 1300px;
  padding: 20px 0;
  width: 300px;
}

.main header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.cartPng {
  width: 50px;
}

.blackFridaypng {
  width: 150px;
}

.mainContainer {
  display: flex;

}

.productsResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;


}

.product {
  border: 2px solid black;
  height: 300px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.categories {
  width: 500px;
}
